/*Font:  Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/*Font:  Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
/*Font: Syne*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');


:root {
    --color-primary: #f62141;
    --color-secondary: #494cf8;
    --color-tertiary: #7ffaf0;
    --color-accent: #98C1D9;
    --color-on-surface: #fef2f4;
    --f-main: 'Montserrat', sans-serif;
    --f-secondary: 'Raleway', sans-serif;
    --transition: all .6s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0,0,0,0.1);
    --curve: 40;
    --gradient: linear-gradient(to bottom right, #FF2E4C, #1E2A78);
    --default-bg:
      linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%),
      linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%),
      linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

/*.bg-img:before {*/
/*  content: ' ';*/
/*  display: block;*/
/*  position: fixed;*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-image: url('../gradient.jpg');*/
/*  background-repeat: no-repeat;*/
/*  background-position: 50% 0;*/
/*  background-size: cover;*/
/*}*/

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--color-on-surface) !important;
  font-family: var(--f-main) !important;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.glass {
  background: rgba( 255, 255, 255, 0.05 ) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 14px ) !important;
  -webkit-backdrop-filter: blur( 14px ) !important;
  border-radius: 16px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}


.video-background {
  position: relative;
  height: 100vh;
  /*overflow: hidden;*/
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*NAVBAR*/

.navigation {
  z-index: 1;
  position: fixed;
  height: 90vh;
  /*height: 100%;  !* Add this line *!*/
  /*top: 0;*/
  /*left: 0;*/
  inset: 40px 0 40px 20px;
  width: 75px;
  /*position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.logo {
  position: fixed;
  top: 10px;
  color: var(--color-on-surface);
  font-family: var(--f-main);
  font-weight: 700;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: start;
  align-items: center;
}

.navigation ul li {
  list-style: none;
  height: 75px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-list a:hover {
  border-radius: 90px;
  background: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary),
  0 0 25px var(--color-primary),
  0 0 50px var(--color-primary),
  0 0 200px var(--color-primary);
  transition: 0.5s;
}

.account {
  position: fixed !important;
  bottom: 10px !important;
  color: var(--color-on-surface);
}

.account-name {
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: var(--f-main);
}

.account-logout, .account-name:hover {
  background: none !important;
  box-shadow: none !important;
}

.register {
  position: fixed;
  bottom: 80px;
}

.section-padding {
  padding-left: 140px;
}

/*LOGIN - REGISTER SECTION*/

.row-login {
  padding-top: 25%;
}

.row-register {
  padding-top: 20%;
}

.panel-header h3{
  display: flex;
  justify-content: center;
  color: var(--color-on-surface);
  font-family: var(--f-main);
  font-size: 40px;
  font-weight: 600;
  margin-top: -50px;
}

.panel-description {
  font-size: 22px;
  opacity: 80%;
  color: var(--color-on-surface);
}

.login-panel {
  width: 90vw;
}

.panel-body {
  margin-top: 40px;
}

.row-email, .row-password, .row-name, .row-surname, .row-confirm {
  color: var(--color-on-surface);
  font-size: 18px;
}

.form-check-label {
  color: var(--color-on-surface);
}

.btn-login {
  font-size: 18px !important;
  font-weight: 500 !important;
  width: 150px !important;
  height: 50px !important;
  border-radius: 16px !important;
  background-color: transparent !important;
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
}

.btn-login:hover {
  background: var(--color-primary) !important;
  color: var(--color-on-surface) !important;
  box-shadow: 0 0 5px var(--color-primary),
  0 0 25px var(--color-primary),
  0 0 50px var(--color-primary),
  0 0 200px var(--color-primary) !important;
  transition: 0.5s !important;
}

.btn-link {
  color: var(--color-secondary) !important;
}


/*LANDING PAGE*/

.panel-container {
  width: 90vw;
  height: 90vh;
}

.panel {
  height: 90vh;
}

.row {
  margin-top: 13%;
  display: flex;
  align-items: center;
}

.title {
  font-size: 110px;
  font-weight: 700;
  color: var(--color-on-surface);
  text-decoration: none;
}

.title span {
  color: var(--color-primary);
  text-decoration: none;
}

/*.carousel {*/
/*  float: right;*/
/*  width: 130%;*/
/*}*/

/*.c-item {*/
/*  height: 500px;*/
/*}*/
/*.c-img {*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*  border-radius: 16px;*/
/*}*/

.bg-img {
  position: absolute;
  width: 42%;
  right: 0px;
  bottom: 0px;
  border-radius: 0 0 16px 0;
}


.box{
  position: absolute;
  top: 516px;
  left: 600px;
}

.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: var(--color-primary);
  border: 4px solid var(--color-primary);
  border-radius: 50px;
  box-sizing: border-box;
  font-family: var(--f-main);
  font-size: 26px;
  color: var(--color-on-surface);
  outline: none;
  transition: .5s;
}
.box:hover input{
  width: 350px;
  background: transparent;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: var(--color-on-surface);
  transition: .2s;
}
.box:hover i{
  /*opacity: 0;*/
  /*z-index: -1;*/
  cursor: pointer;
}

/*EVENT SECTION*/

#event {
  position: relative;
  z-index: 0;
}

.row-panel {
  width: 90vw;
  display: flex;
  justify-content: left;
}

.tit {
  font-weight: 600;
  font-size: 35px;
}

.row-carousel {
  margin-top: 20px;
}

.card {
  position: relative;
  display: block;
  height: 550px;
  /*height: 600px;*/
  overflow: hidden;
  text-decoration: none;
  margin-left: 5px;
}

.card-footer {
  margin-top: 10px;
  height: 70px;
}

.img-fluid {
  border-radius: 16px 16px 0px 0px;
  width: 100vh;
  margin-top: 0;
  margin-left: 0;
}

.card-body {
  color: var(--color-on-surface);
}

.row-info {
  margin-top: 5%;
}

.card-info {
  margin-bottom: 0;
}

.card ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 1s all;
}
.card:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.card:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

.card-text {
  opacity: 80%;
  color: white;
}

.text{
        color: white;
        font-size: 32px;
        font-family: var(--f-main);
        box-shadow: 0 0 5px var(--color-primary),
}

.info {
  font-size: 16px;
}

.card-icon {
  text-decoration: none;
}

.row-icon {
  margin-top: 0;
}

.card-icon svg {
  border-radius: 90px;
}

.card-btn{
  height: 50px;
  color: var(--color-primary);
  font-weight: 600;
  font-family: var(--f-main);
  border-radius: 16px;
  transition: 0.5s;
  cursor: pointer;
}

.card-btn a:hover {
  border-radius: 90px;
  height: 35px;
  background: var(--color-primary);
  color: var(--color-on-surface);
  box-shadow: 0 0 5px var(--color-primary),
  0 0 25px var(--color-primary),
  0 0 50px var(--color-primary),
  0 0 200px var(--color-primary);
  transition: 0.5s;
}

.row-panel2 {
  margin-top: 50px;
}

.btn-carousel {
  background-color: var(--color-secondary);
  color: var(--color-on-surface);
}

.btn-carousel:hover {
  border-radius: 90px;
  background: var(--color-primary);
  color: var(--color-on-surface);
  box-shadow: 0 0 5px var(--color-primary),
  0 0 25px var(--color-primary),
  0 0 50px var(--color-primary),
  0 0 200px var(--color-primary);
  transition: 0.5s;
}

/*SEARCH SECTION*/
#search {
  position: relative;
  top: 800px;
}

.row-panel {
  margin-top: 120px;
}

.row-form2, .row-form3, .row-form4 {
  margin-top: 40px;
}

.search-img {
  position: absolute;
  width: 40%;
  left: 0px;
  bottom: 0px;
  border-radius: 0 0 0 16px;
}

.row-title {
  margin-top: 0;
}

.row-form1 {
  margin-top: 30px;
}

.search-title h3{
  font-size: 40px;
  font-weight: 600;
}

.search-description {
  font-size: 22px;
  opacity: 80%;
}

.form-control {
  border-radius: 16px !important;
  border: 1px solid rgba( 255, 255, 255, 0.5) !important;
}

.form-control::placeholder {
  color: var(--color-on-surface);
  opacity: 70%;
}

.form-control:focus {
  background-color: transparent !important;
  color: var(--color-on-surface) !important;
}

.form-label {
  font-size: 18px;
  /*font-weight: 500;*/
  color: var(--color-on-surface);
}

.row-button {
  margin-top: 30px;
}

.btn-search {
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-search:hover {
  background: var(--color-primary);
  color: var(--color-on-surface);
  box-shadow: 0 0 5px var(--color-primary),
  0 0 25px var(--color-primary),
  0 0 50px var(--color-primary),
  0 0 200px var(--color-primary);
  transition: 0.5s;
}

/*CREATE SECTION*/
#create {
  position: relative;
  top: 900px;
  padding-top: 3px;
}

.create-title h3{
  font-size: 40px;
  font-weight: 600;
}

.create-description {
  font-size: 22px;
  opacity: 80%;
}

.title-section span {
  color: var(--color-primary);
  margin-left: 9px;
  margin-right: 9px;
}

.col-form {
  margin-left: 30px;
  margin-right: 30px;
}

.panel-container1 {
  width: 60vw;
  height: 90vh;
}

.panel1 {
  height: 90vh;
}

.panel-container2 {
  width: 30vw;
  height: 90vh;
}

.panel2 {
  height: 90vh;
}

.row-create {
  margin-top: 50px;
}

.img-form {
  --bs-tertiary-bg: 000;
}

.img-form:hover {
  --bs-tertiary-bg: 000;
}

.col-card {
  margin-top: 10%;
}

.card-preview {
  position: relative;
  display: block;
  height: 550px;
  width: 410px;
  overflow: hidden;
  text-decoration: none;
  margin-left: 5px;
}

.row-preview {
  margin-top: 50px;
}

.preview-title h3 {
  font-size: 40px;
  font-weight: 600;
}

.card-footer-preview {
  margin-left: 15%;
  margin-top: 10px;
  height: 70px;
  width: 410px;
}

.glass-preview {
  background: rgba( 255, 255, 255, 0.05 ) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 14px ) !important;
  -webkit-backdrop-filter: blur( 14px ) !important;
  border-radius: 16px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

#footer {
  position: relative;
  top: 1000px;
  padding-bottom:45px;
}

.footer-dark {
  margin-right: 50px;
}

.footer-dark h3{
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size: 20px;
}

.footer-dark h2{
  color: var(--color-primary);
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size: 40px;
}

.footer-dark p {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:22px;
  margin-bottom:0;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:18px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.row-footer {
  margin-top: 40px;
}

.row-social {
  margin-top: 40px;
  margin-bottom: 40px;
}

#profile {
  overflow-y: hidden;
}

.name-row {
  margin-top: 20px !important;
}

.greeting {
  font-weight: 600 !important;
  font-size: 40px !important;
}

.greeting span {
  color: var(--color-primary);
}

.profile-description {
  font-size: 22px;
  opacity: 80%;
}

.row-stats {
  margin-top: 30px !important;
}

.stats-container {
  display: flex !important;
  justify-content: space-evenly !important;
}

.event-container {
  width: 400px;
}
